.compare-data {
  background: url('../../Images/compareImage.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 40%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.compareDataDesign {
  text-align: right;
  padding-right: 42px;
  padding-top: 20px;
  margin: 0;
}

.compare{
  text-align: right;
  padding-right: 139px;
  padding-top: 20px;
  margin: 0;
}

.compareSpace {
  padding-top: 63px;
}

.font {
  font-family: 'Press Start 2P';
  font-size: small;
  text-shadow: 1px 1px white;
}
